# Project information
site_name: Sheetson
site_description: Documentation for consuming Sheetson APIs
site_author: Ralphilius
site_url: https://docs.sheetson.com/

# Repository
#repo_name: squidfunk/mkdocs-material
#repo_url: https://github.com/squidfunk/mkdocs-material

# Copyright
copyright: Copyright &copy; 2019 - 2020 Sheetson

# Configuration
theme:
  name: material
  language: en
  palette:
    primary: teal
    accent: teal
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - instant
    # - tabs

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js
# Extras
# extra:
#   social:
#     - icon: fontawesome/brands/github-alt
#       link: https://github.com/squidfunk
#     - icon: fontawesome/brands/twitter
#       link: https://twitter.com/squidfunk
#     - icon: fontawesome/brands/linkedin
#       link: https://linkedin.com/in/squidfunk

# Google Analytics
google_analytics:
  - UA-XXXXXXXX-X
  - auto

# Extensions
markdown_extensions:
  - markdown.extensions.attr_list
  - meta
  - admonition
  - codehilite:
      guess_lang: false
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tilde
  - toc:
      permalink: true

nav:
  - Introduction: index.md
  - Getting Started: getting-started.md
  - Manage data:
    - Add data: manage-data/create-rows.md
    - Read data: manage-data/retrieve-rows.md
    - Update data: manage-data/update-rows.md
    - Delete data: manage-data/delete-rows.md
    - Paginate & filter data: manage-data/paginate-filter.md
  - Status Codes: status-codes.md
  - Reference: 
    - list: reference/list.md
    - create: reference/create.md
    - read: reference/read.md
    - update: reference/update.md
    - delete: reference/delete.md